.bundle/
examples/allinone/Puppetfile
examples/multinode/Puppetfile
examples/swift/Puppetfile
**/.vagrant
examples/allinone/modules
examples/multinode/modules
examples/swift/modules
Gemfile.lock
templates/openstack.yaml.erb
